@import 'scss/variables';

body {
  background-color: #333;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: $gutter/2 auto;
  
  .button {
    max-height: 5*$gutter;
    max-width: 5*$gutter;
    margin: $gutter/2;

    &_hidden {
      display: none;
    }
  }

}

