@import "scss/variables";


.video {
  position: relative;
  width: 94%;
  max-width: 920px;
  margin: 0 auto;
  cursor: pointer;

  &::before {
    content: none;
  }

  &.pause::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url("./img/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6% auto;
  }
}

.title {
  display: block;
  max-width: 50%;
  margin-top: 1 * $gutter;
  margin-right: auto;
  margin-bottom: 1 * $gutter;
  margin-left: auto;
  overflow-wrap: break-word;
  color: #fff;
  text-align: center;
}

.toolbar {
  display: flex;
  margin: $gutter/2 auto;
  flex-direction: row;
  justify-content: center;

  .button {
    max-width: 3 * $gutter;
    max-height: 3 * $gutter;
    margin: 2%;
    cursor: pointer;

    // TODO laga þannig að sé háð prósentu
    @media only screen and (max-device-width: 500px) {
      width: 10%;
      height: 10%;
      max-width: 2.5 * $gutter;
      max-height: 2.5 * $gutter;
    }
  }
}

.footer {
  margin-top: 2 * $gutter;
  margin-bottom: 2 * $gutter;
  text-align: center;

  .link {
    font-size: 1.3 * $fsize;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    @media only screen and (max-device-width: 500px) {
      font-size: 140%;
    }
  }
}

