.videolist {
  &__heading {
    margin: 20px 0 0 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__box {
    display: flex;
    width: 100%;
    margin: 20px;
    flex-direction: column;
    @media (min-width: 1000px) {
      width: 30%;
      max-width: 450px;
    }
  }

  &__img {
    width: 100%;
  }

  &__description {
    display: flex;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    flex-direction: column;

    &__title {
      overflow: hidden;
      font-size: 24px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__added {
      font-size: 16px;
      text-decoration: none;
    }
  }

}
