.video {
  &__heading {}

  &__container {
    display: flex;
  }

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__img {

  }

  &__description {
    display: flex;
    &__title {}
    &__added {}
  }
}
