@import "scss/variables";

.videolist {
  max-width: $max-width;
  margin-bottom: $gutter;

  &__heading {
    margin: $gutter 0 0 $gutter;
    color: #fff;
  }

  &__container {
    display: flex;
    max-width: $max-width;
    flex-direction: column;
  }

  &__videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__box {
    display: flex;
    width: 100%;
    padding: $gutter;
    flex-direction: column;
    @media (min-width: 700px) {
      width: 50%;
    }
    @media (min-width: 1001px) {
      width: 33%;
    }
  }

  &__thumbnail {
    position: relative;

    &__img {
      width: 100%;
    }

    &__duration {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 5px;
      margin: $gutter/2 $gutter/4;
      color: #fff;
      background-color: rgba(40, 40, 40, 0.8);
    }
  }

  &__separator {
    width: 80%;
    margin-left: 10%;
    border-bottom: 2px solid #999;
  }

  &__description {
    display: flex;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    flex-direction: column;

    &__title {
      overflow: hidden;
      font-size: 1.5 * $fsize;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (min-width: 1001px) {
        font-size: $fsize;
      }
    }

    &__added {
      text-decoration: none;
    }
  }

  &__tag {
    text-decoration: none;
  }

}
