/node_modules
/instr
.stylelintrc
.babelrc
.eslintrc.js
styles.css
.DS_Store
*.swp
*.txt
/.idea
/compiled
settings.json
script-compiled.js
script-compiled.js.map
player-compiled.js
player-compiled.js.map
